---
title: "Features"
published: true
---
{% extends index %}

{% block 'inner-page' %}

<div id="sub-bar" class="subbar">
  <ul>
    {% with_scope published: true %}
      {% for object in contents.features %}
        <li><a href="/{{ locale }}/features/{{ object._permalink }}">{{ object.name }}</a></li>
      {% endfor %}
    {% endwith_scope %}
  </ul>
</div>

<div id="features">
  <div class="container">
    <h1>
      {% editable_short_text "features_title", hint: "features_title", priority: 1, fixed: true %}
        Features
      {% endeditable_short_text %}
    </h1>
    <div>

      {% with_scope published: true %}
        {% for object in contents.features %}
          <div class="row-fluid feature" id="badges">
            <div class="span7 {% cycle 'group 1': '', 'pull-right' %}">
              {{ object.picture.url | image_tag }}
            </div>
            <div class="span5 content {% cycle 'group 2': '', 'feature-left' %}">
              <h2>{{ object.name }}</h2>
              <p>{{ object.summary }}</p>
              <a class="pull-right" href="/{{ locale }}/features/{{ object._permalink }}">MORE ...</a>
            </div> 
          </div>
        {% endfor %}
      {% endwith_scope %}

    </div> 
    <div>
      <div id="quick-action" style="text-align: center">
        <a href="https://app.mobicheckin.com/{{ locale }}/users/sign_in#auto_demo_sign_in" class="btn btn-larger btn-quick-tour">
          {% editable_short_text "try_demo", hint: "try_demo", priority: 1, fixed: true %}
            Try Online Demo
          {% endeditable_short_text %}
        </a>
        <a href="https://app.mobicheckin.com/{{ locale }}/users/sign_up" class="btn btn-info btn-larger">
          {% editable_short_text "create_account", hint: "create_account", priority: 1, fixed: true %}
            Sign up for Free
          {% endeditable_short_text %}
        </a>
      </div>
    </div>
  </div>
</div> 

{% endblock %}